Repository ecom-co/service-grpc-template: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0 --no-warn-ignored, npm run format:staged, npx sort-package-json

.lintstagedrc.json:

{
    "src/**/*.{js,jsx,ts,tsx}": ["eslint --fix --max-warnings 0 --no-warn-ignored", "npm run format:staged"],
    "test/**/*.{js,jsx,ts,tsx}": ["eslint --fix --max-warnings 0 --no-warn-ignored", "npm run format:staged"],
    "*.{json,yml,yaml}": ["npm run format:staged"],
    "*.md": ["npm run format:staged"],
    "package.json": ["npm run format:staged", "npx sort-package-json"]
}

feat(authentication #1): implement basic using jwt
  .gitignore
  README.MD
  key_gen.sh
  nest-cli.json
  package-lock.json
  package.json
  proto/services/auth.proto
  proto/services/user-v2.proto
  src/app.module.ts
  src/core/decorators/current-ssid.decorator.ts
  src/core/decorators/current-user.decorator.ts
  src/main.ts
  src/modules/auth/auth.controller.ts
  src/modules/auth/auth.module.ts
  src/modules/auth/dto/login.dto.ts
  src/modules/auth/dto/register.dto.ts
  src/modules/auth/guards/grpc-jwt.guard.ts
  src/modules/auth/guards/grpc-refresh-token.guard.ts
  src/modules/auth/services/auth-redis.service.ts
  src/modules/auth/services/auth.service.ts
  src/modules/auth/services/jwt.service.ts
  src/modules/auth/strategies/grpc-jwt.strategy.ts
  src/modules/auth/strategies/grpc-refresh-token.strategy.ts
  src/modules/config/config.service.ts
  src/modules/config/config.validation.ts
  src/modules/rabbitmq/rabbitmq.handler.ts
  src/modules/rabbitmq/rabbitmq.module.ts
  src/modules/rabbitmq/rabbitmq.service.ts
  src/modules/user/user.module.ts
  src/modules/user/user.service.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, npm run format:staged, npx sort-package-json

refactor(proto #1): add gRPC services and update configuration for asset handling
  nest-cli.json
  src/app.module.ts
  src/main.ts
  src/modules/config/config.service.ts
  src/modules/rabbitmq/rabbitmq.module.ts
  src/modules/user/dto/update-user.dto.ts
  src/modules/user/entities/user.entity.ts
  src/modules/user/user.controller.ts
  src/modules/user/user.module.ts
  src/proto/app.proto
  src/proto/services/auth.proto
  src/proto/services/user.proto
  src/proto/shared/common.proto
  src/proto/shared/error.proto
Due: eslint --fix --max-warnings 0 --no-warn-ignored, npm run format:staged

chore(authentication #1): update example environment files
  .env.docker.example
  .env.example
  src/modules/auth/guards/grpc-jwt.guard.ts
  src/modules/user/user.service.ts
  src/proto/services/auth.proto
Due: eslint --fix --max-warnings 0 --no-warn-ignored, npm run format:staged

chore(pr-template): enhance pull request template with related PRs and migration sections
  .github/PULL_REQUEST_TEMPLATE.md
Due: npm run format:staged

feat(grpc): add @grpc/reflection package and update service configuration
  package-lock.json
  package.json
  src/main.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, npm run format:staged, npx sort-package-json

fix(package): rename project to ecom-authorizations
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/docker-setup.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
  package-lock.json
  package.json
  src/modules/auth/dto/register.dto.ts
  src/modules/user/dto/user-response.dto.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, npm run format:staged, npx sort-package-json

chore(auth): init template
  README.MD
  key_gen.sh
  package-lock.json
  package.json
  src/app.module.ts
  src/core/decorators/current-ssid.decorator.ts
  src/core/decorators/current-user.decorator.ts
  src/main.ts
  src/modules/auth/auth.controller.ts
  src/modules/auth/auth.module.ts
  src/modules/auth/dto/login.dto.ts
  src/modules/auth/dto/register.dto.ts
  src/modules/auth/guards/grpc-jwt.guard.ts
  src/modules/auth/guards/grpc-refresh-token.guard.ts
  src/modules/auth/services/auth-redis.service.ts
  src/modules/auth/services/auth.service.ts
  src/modules/auth/services/jwt.service.ts
  src/modules/auth/strategies/grpc-jwt.strategy.ts
  src/modules/auth/strategies/grpc-refresh-token.strategy.ts
  src/modules/config/config.service.ts
  src/modules/config/config.validation.ts
  src/modules/user/user.service.ts
  src/proto/services/auth.proto
Due: eslint --fix --max-warnings 0 --no-warn-ignored, npm run format:staged, npx sort-package-json
